/# locals: (query: nil)

section.box.padded[
    data-controller="search-autocomplete"
    data-search-autocomplete-url-value=autocomplete_search_path
    data-search-autocomplete-min-length-value=1
    data-search-autocomplete-query-param-value="query"
    role="combobox"
  ]
  .autocomplete-form
    input.search[
      name="query"
      placeholder="Movie title or IMDb id"
      value=query
      data-search-autocomplete-target="input"
      data-action="click->search-autocomplete#reopen"
      autofocus=true
    ]

    ul.autocomplete-results data-search-autocomplete-target="results" hidden=''

    .total-movies= "#{number_with_delimiter Movie.cached_count} movies and shows"
