/# locals: (query: nil)

section.box.padded[
    data-controller="search-autocomplete"
    data-search-autocomplete-url-value=autocomplete_search_path
    data-search-autocomplete-min-length-value="3"
    role="combobox"
  ]
  = form_tag new_search_path, method: :get, class: 'autocomplete-form'
    input.search[
      name="query"
      placeholder="Movie title or IMDb id"
      value=query
      data-search-autocomplete-target="input"
      data-action="click->search-autocomplete#reopen"
      autofocus=true
    ]

    button data-search-autocomplete-target='submit' Look up

    ul.autocomplete-group data-search-autocomplete-target="results" hidden=''
