- if @movies.any?
  - @movies.each do |movie|
    li.search-result-item[
        role="option"
        data-autocomplete-value= movie_path(movie.wiki_id, movie.title, movie.year)
      ]
      = render 'search/item', movie: movie

  li.search-result-item[
    role="option"
    aria-disabled="true"
    data-action="click->search-autocomplete#showAll"
    data-search-autocomplete-url-param=new_search_path(query: @query)
  ] Show all results

- else
  li.search-result-item role="option" aria-disabled="true" There's nothing.
