#
# redirect to www and https
#

RewriteEngine On

# ensure www.
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ensure https
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#
# gzip encoding
#

<Files *.css.gz>
ForceType text/css
</Files>
<Files *.js.gz>
ForceType application/javascript
</Files>
<Files *.html.gz>
ForceType text/html
</Files>
<Files *.json.gz>
ForceType application/json
</Files>
<Files *.svg.gz>
ForceType image/svg+xml
</Files>

AddEncoding gzip .gz
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{HTTP_USER_AGENT} !Konqueror
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*\.(css|js|html|json|svg))$ $1.gz [QSA,L]


#
# caching
#

<FilesMatch "\.(html|html.gz)$">
  # 1 hour
  Header set Cache-Control "max-age=3600, must-revalidate"
</FilesMatch>
