@font-face {
  font-family: 'Fetamont-9ExkzVmc3w';
  src: url('/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.eot');
  src: url('/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.eot?#iefix') format('embedded-opentype'),
  url('/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.woff') format('woff'),
  url('/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.ttf') format('truetype'),
  url('/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.svg#Fetamont-9ExkzVmc3w') format('svg');
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #fff;
  background: #629bbd;
  margin: 0;
  padding: 50px 8px 8px 8px;
  box-sizing: border-box;
  font-family: 'Fetamont-9ExkzVmc3w';
  font-size: 24px;
  /* make footer stick to bottom initially */
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: #c9e4ff;
  text-decoration: none;
}

a:hover {
  color: #3a5977;
}

a:visited {
  color: #c9e4ff;
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

h1, h2, h3 {
  font-size: 1em;
  margin: 0 0 8px 0;
}

p {
  margin: 0 0 8px 0;
}
