@font-face {
  font-family: "Fetamont-9ExkzVmc3w";
  src: url("@/fonts/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.eot");
  src: url("@/fonts/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.eot?#iefix")
      format("embedded-opentype"),
    url("@/fonts/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.woff") format("woff"),
    url("@/fonts/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.ttf") format("truetype"),
    url("@/fonts/fetamont-9ExkzVmc3w/Fetamont-9ExkzVmc3w.svg#Fetamont-9ExkzVmc3w")
      format("svg");
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #fff;
  background-color: #1c2b3e;
  margin: 0;
  padding: 50px 8px 8px 8px;
  box-sizing: border-box;
  font-family: "Fetamont-9ExkzVmc3w";
  font-size: 24px;
  /* make footer stick to bottom initially */
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

a,
a:visited {
  color: #96a2ae;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a.external {
  margin-right: 2px;
}
a.external:after {
  content: "↗";
  position: relative;
  font-size: 0.9em;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0.3em 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

input.search {
  box-sizing: border-box;
  width: 100%;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

h1 {
  font-size: 2.8em;
  margin: 0 0 16px 0;
}
@media (min-width: 40em) {
  h1 {
    font-size: 4em;
  }
}

h2,
h3 {
  font-size: 1em;
  margin: 0 0 8px 0;
}

p {
  margin: 0 0 8px 0;
}

.box {
  margin-bottom: 53px;
}

.padded {
  padding-left: 50px;
}

main {
  margin: 0 auto;
  margin-bottom: 53px;
}

@media (min-width: 800px) {
  main {
    width: 800px;
  }
}

// movie (result)
$horizontal-spacing: 50px;
$left-column-width: 9rem;
$box-bottom-spacing: 42px;
$poster-width: 130px;

.icon-label {
  position: relative;
  padding-left: $horizontal-spacing;
}

.icon {
  position: absolute;
  left: 0;
}

h2.movie {
  padding-left: $horizontal-spacing;
}

.disclaimer {
  margin-top: -1em;
  font-size: 0.7em;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table.full-width {
  width: 100%;
}

td {
  vertical-align: top;
}

.label {
  padding-left: $horizontal-spacing;
  width: $left-column-width;
}

.value {
  font-weight: bold;
}

.box {
  margin-bottom: $box-bottom-spacing;
}

@media (min-width: 40em) {
  .summary {
    display: flex;
  }
}

@media (min-width: 40em) {
  .description {
    margin-right: $horizontal-spacing;
  }
}

.poster {
  height: auto;
  width: $poster-width;
}

.marketing {
  display: flex;
  margin: 0 0 $box-bottom-spacing $horizontal-spacing;
}

@media (min-width: 40em) {
  .marketing {
    flex-direction: column;
    margin: 0;
  }
}

.trailer {
  margin-left: calc(#{$left-column-width} - #{$poster-width});
}

@media (min-width: 40em) {
  .trailer {
    margin: 0;
  }
}

// result_more_link
a.result-more {
  font-weight: normal;
  font-size: 0.9em;
  margin-left: 8px;
}

// footer
.footer {
  margin: auto auto 0 auto;
  padding-bottom: 8px;
  font-size: 0.7em;

  p {
    padding-left: 50px;
  }
}

@media (min-width: 800px) {
  .footer {
    width: 800px;
  }
}

// spinner
.spinner {
  font-size: 21px;
  margin-right: 0.6em;
}

// error
.error {
  color: #fba8a8;
}

// disable turbo's progress bar
.turbo-progress-bar {
  visibility: hidden;
}

// autocomplete / search results
.autocomplete-form {
  position: relative;
}

.autocomplete-results {
  background: #fff;
  color: #000;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0.8em 0.4em;
  border-radius: 2px;
  position: absolute;
  z-index: 99;
  top: 25px;
}
.search-results {
  list-style: none;
  padding: 0;
}

.search-result-item {
  box-sizing: border-box;
  margin-bottom: 0.3em;
  cursor: pointer;

  &.disabled {
    cursor: default;
  }

  &.active {
    font-weight: bold;
  }

  &-poster {
    margin-right: 0.6em;

    img {
      height: 90px;
      width: 65px;
    }
  }

  &-title {
    margin-bottom: 0.1em;
  }

  &-description {
    font-size: 0.8em;
  }
}
